QA_BASE_URL=http://127.0.0.1:8080
QA_SUT_MODE=external
QA_SUT_READY_TIMEOUT=30

QA_ADMIN_EMAIL=admin@mirea.ru
QA_ADMIN_PASSWORD=admin12345
QA_ORGANIZER_EMAIL=iptip@mirea.ru
QA_ORGANIZER_PASSWORD=organizer12345
QA_SECOND_ORGANIZER_EMAIL=qa-second@mirea.ru
QA_SECOND_ORGANIZER_PASSWORD=organizer12345

QA_INTEGRATION_API_KEY=

QA_BROWSER=chromium
QA_HEADLESS=true
QA_SLOW_MO_MS=0
QA_VIEWPORT_WIDTH=1366
QA_VIEWPORT_HEIGHT=768

QA_HTTP_TIMEOUT_S=15
QA_UI_DEFAULT_TIMEOUT_MS=5000

QA_ARTIFACTS_DIR=./reports
QA_CAPTURE_VIDEO=false
QA_CAPTURE_TRACE=false
QA_CAPTURE_HAR=false

QA_LOG_LEVEL=INFO
